<style>
  .backgroundimage {
    background-image: url('static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  hr.style2 {
	border-top: 3px double #8c8b8b;
}
</style>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }} - reservation system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mindtree</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item active">
          <a class="navbar-brand" href="/logout">Log Out</a>
        </li>

      </form>
    </div>
  </nav>


  <div class="backgroundimage">
    <div class="border border-info rounded">
    <div class="container">
      <div class="border border-info rounded">
      <div class="text-center">
        <h1>Welcome {{current_user.name}}...!</h1>
      </div>
      <hr class="style2">




      <div class="col-12">
        <div class="row">

          <div class="border border-info rounded">
            <div class="col-5">
              {% include "home.html" %}
            </div>

          </div>
          
            <div class="col-7">
              <div class="col-12">
                <div class="text-center">
                  {% with messages = get_flashed_messages() %}
                </div>
                <div class="col-12">
                  {% if messages %}
                  <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  {% endwith %}
                  {%  block content %}{% endblock %}
                </div>
              </div>
            </div>
        

        </div>
      </div>
    </div>
  </div>

  </div>
  </div>

</body>

</html>